My workflow 4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "formTitle": "JOB SERVICES",
        "formDescription": "You have to read carefully when enter Your details",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Enter name",
              "placeholder": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Email"
            },
            {
              "fieldLabel": "Roles",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "fullstack"
                  },
                  {
                    "option": "frontend"
                  },
                  {
                    "option": "backend"
                  },
                  {
                    "option": "cybersecurity"
                  },
                  {
                    "option": "mernstack"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Experience",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Which year"
            },
            {
              "fieldLabel": "Date-Of-Birth",
              "fieldType": "date"
            },
            {
              "fieldLabel": "Upload resume",
              "fieldType": "file"
            },
            {
              "fieldLabel": "Enter Phn",
              "fieldType": "number",
              "fieldName": "+91"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "f19f258f-6b96-4785-97a8-b54231896dda",
      "name": "On form submission",
      "webhookId": "e6999ac9-9616-4269-a18f-92567e5fc5e3"
    },
    {
      "parameters": {
        "inputDataFieldName": "Upload_resume",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "002cda0c-9681-4941-9a45-dda5f24a697b",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZKwoXaUtejFKZG4a",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32786c35-ffef-46ff-b17f-756358ca2749",
              "name": "resume_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "842e186f-8af0-4292-93e5-c4b90a0bd2e2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pzh5td3g4_t_tMXiz7tX6KC807rlbfYDG70MUMmhk3c",
          "mode": "list",
          "cachedResultName": "jobDetails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pzh5td3g4_t_tMXiz7tX6KC807rlbfYDG70MUMmhk3c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 883439016,
          "mode": "list",
          "cachedResultName": "job_details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pzh5td3g4_t_tMXiz7tX6KC807rlbfYDG70MUMmhk3c/edit#gid=883439016"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('On form submission').item.json['Enter name'] }}",
            "email": "={{ $('On form submission').item.json.Email }}",
            "phn": "={{ $('On form submission').item.json['+91'] }}",
            "dateOfBirth": "={{ $('On form submission').item.json['Date-Of-Birth'] }}",
            "experience": "={{ $('On form submission').item.json.Experience }}",
            "roles": "={{ $('On form submission').item.json.Roles }}",
            "whichYear": "={{ $('On form submission').item.json['Which year'] }}",
            "resume": "={{ $('On form submission').item.json['Upload resume'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "experience",
              "displayName": "experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dateOfBirth",
              "displayName": "dateOfBirth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "roles",
              "displayName": "roles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phn",
              "displayName": "phn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resume",
              "displayName": "resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whichYear",
              "displayName": "whichYear",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "74e8fea3-388d-41fc-b355-0e0877eecba0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rBjc3g8SLWYloTW6",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.resume_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        0
      ],
      "id": "76fa6e30-6fba-48cf-9ee7-374ddc45e5d9",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZKwoXaUtejFKZG4a",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1040,
        0
      ],
      "id": "f74139c8-b6a7-4486-a313-8ab561d3a737",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "compare the following job description and resume.\nassign a qualification score between 0 and 1,where 1 indicates the best match.provide only score and the reason for the score in less than 20 words.\njob description:use google sheets tool to get the job description \nresume:{{$json.text}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1248,
        0
      ],
      "id": "62bc7192-d033-415b-b4a4-ea1a2a0ef37f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1184,
        208
      ],
      "id": "5d9dbd1b-6c2a-4c4d-ab5a-f7573ca6118e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kwyoVGSzVKYk0ueW",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"score\": 0.8,\n\t\"reason\": \"good\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1424,
        208
      ],
      "id": "e8892743-20ae-415a-9f31-3f8f17f1513e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5c29e5ae-5a63-4674-9ab3-62b3b50d7164",
              "leftValue": "={{ $json.output.score }}",
              "rightValue": 0.5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1600,
        0
      ],
      "id": "9ff4e939-668c-4423-afa0-b54d20b37ff9",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Append row in sheet').item.json.email }}",
        "subject": "job_services",
        "message": "<h1>sry...! u r disqualify try again another time good luck next tym</h1>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2176,
        96
      ],
      "id": "1927dcd0-c4b6-4e85-b342-b2210e7c7261",
      "name": "Send a message",
      "webhookId": "4bcfa026-fe9d-4f59-a90e-5f9185b9d550",
      "credentials": {
        "gmailOAuth2": {
          "id": "pzKXHaVSGC8fXtdh",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ask some questions {{ $('Extract from File').item.json.text }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1808,
        0
      ],
      "id": "f180d08d-7892-4ad7-a1d7-f488c2f641da",
      "name": "AI Agent1"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Enter name": "nynika",
          "Email": "nynika@gmail.com",
          "Roles": "frontend",
          "Experience": 1,
          "Which year": "2133",
          "Date-Of-Birth": "2026-05-08",
          "Upload resume": [
            {
              "filename": "BavisettiVanithaDevi.pdf",
              "mimetype": "application/pdf",
              "size": 49347
            }
          ],
          "+91": 12345678899,
          "submittedAt": "2026-04-02T13:32:35.053+05:30",
          "formMode": "test"
        },
        "binary": {
          "Upload_resume": {
            "mimeType": "application/pdf",
            "fileType": "pdf",
            "fileExtension": "pdf",
            "data": "filesystem-v2",
            "fileName": "BavisettiVanithaDevi.pdf",
            "id": "filesystem-v2:workflows/KP7GJCJvazxaaqcH/executions/temp/binary_data/73324535-8fa2-4163-abc8-4f7aa91f84fb",
            "fileSize": "49.3 kB",
            "bytes": 49347
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "86df1e0d-0f3f-4001-975d-ffa1a3dd60c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f6023577a2de4f8dec83b04e9c5685998dc18ec359ad0ac884168715c726bfb"
  },
  "id": "KP7GJCJvazxaaqcH",
  "tags": []
}