Workflow.json
{
  "name": "FormSubmission",
  "nodes": [
    {
      "parameters": {
        "formTitle": "User Enquiry",
        "formDescription": "this form is used to collect the questions for users ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "password",
              "fieldType": "password",
              "requiredField": true
            },
            {
              "fieldLabel": "Questions",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Name",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "3635bff6-612a-4618-a7fe-be6374705a0f",
      "name": "On form submission",
      "webhookId": "aa9a73cb-535f-4102-b58a-000afc724788"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13I2TI4BfyO4NI205siM_cgUTXfAm18tvp6btvZLXyLw",
          "mode": "list",
          "cachedResultName": "User Enquiry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13I2TI4BfyO4NI205siM_cgUTXfAm18tvp6btvZLXyLw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 799591191,
          "mode": "list",
          "cachedResultName": "Questions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13I2TI4BfyO4NI205siM_cgUTXfAm18tvp6btvZLXyLw/edit#gid=799591191"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "password": "=password {{ $json.password }}",
            "Questions": "=Questions {{ $json.Questions }}",
            "Name": "=Name {{ $json.Name }}",
            "Email": "={{ $json.Email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Questions",
              "displayName": "Questions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "4c04458a-d769-4bcb-ac49-d36f8b15745d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rBjc3g8SLWYloTW6",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=bavisettivanithadevi@gmail.com {{ $('On form submission').item.json.Email }}",
        "subject": "This is excel User Enquiry form submissions",
        "message": "<h1>User Enquiry</h1>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "aec28011-5c07-4305-a537-80a85a4c0b12",
      "name": "Send a message",
      "webhookId": "4b49d6cb-6180-4dc7-8311-fb444d9484fe",
      "credentials": {
        "gmailOAuth2": {
          "id": "pzKXHaVSGC8fXtdh",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6257408b-e733-4ad5-bdc2-f07a78009ce7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f6023577a2de4f8dec83b04e9c5685998dc18ec359ad0ac884168715c726bfb"
  },
  "id": "jDvE83CzmTfY39oU",
  "tags": []
}